.pharma-container {
  background: #f3f4f6;
  grid-area: main;
  overflow-y: auto;
}

.main-container {
  padding: 20px 35px;
}

.main__title {
  display: flex;
  align-items: center;
}

.main__title > img {
  max-height: 100px;
  object-fit: contain;
  margin-right: 20px;
}

.main__greeting > h1 {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;
}

.main__greeting > p {
  font-size: 14px;
  font-weight: 700;
  color: #a5aaad;
}

.main__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70px;
  padding: 25px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.card_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_inner > span {
  font-size: 25px;
}

.icon {
  font-size: 25px;
}

.alert {
  margin-bottom: 1rem;
  height: 1.25rem;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}
.alert-danger {
  color: #721c24;
  background: #f8d7da;
}

.alert-success {
  color: #155724;
  background: #d4edda;
}

/* Pharmacist Form */
.form {
  background: #fff;
  width: 620px;

  margin-bottom: 2rem;
  padding: 1rem 2rem;
  border-radius: 0.25rem;

  margin-left: 4em;
}
.form input {
  background: hsl(210, 36%, 96%);
  border-color: transparent;
  border-radius: 0.25rem;
  padding: 0.25rem 1rem;
  margin-left: 1.5em;
  margin: 5px;
  padding: 6px;
}

.form label {
  text-transform: capitalize;
  color: #222;
  font-size: 1rem;
  font-weight: 400;
}
.form-control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form input::placeholder {
  text-transform: capitalize;
  color: hsl(210, 22%, 49%);
  font-size: 0.8rem;
}
.pharma-title {
  margin-top: 10px;
  color: hsl(209, 61%, 16%);
  letter-spacing: 2px;
  transition: all 0.3s linear;
  text-transform: capitalize;
  text-align: center;
}
.pharma-btn {
  display: inline-block;
  background: #222;
  color: #fff;
  border-color: transparent;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
  padding: 0.15rem 0.25rem;
  text-transform: capitalize;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s linear;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border: 2px solid #222;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin-left: 10em;
}

.pharma-btn:hover {
  color: #222;
  background: #fff;
  letter-spacing: 4px;
}

.article {
  margin-top: 5rem;
}
.pharma-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5em;
}
.left-content {
  width: 23em;
  height: 20em;

  border-radius: 2px solid black;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-color: transparent;
  border: 2px solid #222;
  margin-top: 2em;
  margin-left: 7em;
}
.pharma-avatar {
  width: 50px;
}
.pharma-avatar img {
  width: 15em;
  height: auto;
  margin-left: 4em;
  padding-top: 1em;
}
.pharm-name {
  text-align: center;
}
.pharm-text {
  font-weight: 600;
  font-size: 2em;
  text-transform: capitalize;
}
.pharm-btn {
  margin-left: 8em;
  margin-top: 2em;

  text-transform: capitalize;
  background: #ff0157;
  color: #111;
  padding: 10px 25px;
  border-radius: 2px;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
}
.pharm-btn:hover {
  letter-spacing: 6px;
  background: grey;
  color: #fff;
}

.all-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 1em;
}
.cards {
  border: 1.5px solid #222;
  padding: 8px;
}
.cards-text h1 {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1em;
}

@media only screen and (max-width: 992px) {
  .main__cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }
  .pharma-content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3em;
  }
  .form {
    width: 25em;
    margin-left: 8em;
    /* height: 30em; */
  }
  .pharm-btn {
    margin-top: 2em;
  }
  .all-cards {
    padding-top: 5em;
    display: flex;
    flex-wrap: wrap;
  }
  .left-content {
    width: 25em;
    margin-left: 8em;
  }
  .pharma-avatar img {
    width: 8em;
    height: auto;
    margin-left: 8em;
    padding-top: 3em;
  }
  .pharm-btn {
    margin-left: 10em;
  }
  .pharma-btn {
    margin-left: 5em;
  }
}

@media screen and (max-width: 480px) {
  .pharma-content {
    display: flex;
    flex-wrap: wrap;
  }
  .pharma-avatar {
    width: 40px;
  }
  .pharma-avatar img {
    width: 5em;
    height: auto;
    margin-left: 8em;
    padding-top: 1em;
  }
  .left-content {
    width: 55em;
    height: 15em;
    margin-right: 6em;
    margin-top: 2em;
  }
  .form {
    width: 22em;
    margin-left: 6em;
  }
  .pharm-name {
    text-align: center;
  }
  .pharm-text {
    font-weight: 600;
    font-size: 1.2em;
  }
  .pharma-btn {
    margin-left: 8em;
  }
  .pharm-btn {
    margin-right: 8em;
  }
}
