* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background: #a5aaad;
  line-height: 1.4;

  width: 100%;
  height: 100%;
}

/* homepage */
.home-container {
  background-color: turquoise;
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25em;
  height: 15em;
}
.home {
  text-align: center;
  margin-top: 10em;
}

.home-title {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 2em;
}

.btn-container {
  margin-bottom: 10em;
}
.signin-btn {
  text-decoration: none;
  color: #fff;
  background: #ff0157;
  text-align: center;
  padding: 10px 140px;
  border-radius: 2px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.signin-btn:hover {
  letter-spacing: 6px;
}

/* sign-up */

.signup-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 9rem auto;
}

.signup-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
  color: hsl(209, 61%, 16%);
  letter-spacing: 2px;
  transition: all 0.3s linear;
  text-transform: capitalize;
}

.formm .avatar {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #70c5c0;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.formm .avatar img {
  width: 100%;
  height: auto;
}

.formm-input {
  background: #fff;
  max-width: 450px;
  margin: 10px auto;
  padding: 0.8rem 6rem;
  border-radius: 0.25rem;
}

.formm-input::placeholder {
  color: #111;
  font-weight: 400;
  font-size: 15px;
  text-transform: capitalize;
}
.formm-control {
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  padding-right: 2em;
}

.formm-control p {
  color: red;
}

.sbtn {
  margin: 2em;
  text-transform: capitalize;
  background: #ff0157;
  color: #111;
  padding: 10px 25px;
  border-radius: 2px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.sbtn:hover {
  letter-spacing: 6px;
  background: grey;
  color: #fff;
}

/* login */
.login-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  color: hsl(209, 61%, 16%);
  letter-spacing: 2px;
  transition: all 0.3s linear;
  text-transform: capitalize;
}

.login-form {
  background: #fff;
  max-width: 450px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
}
.login-form-control p {
  color: red;
  margin-left: 1em;
  text-transform: capitalize;
}
.login-form input {
  background: hsl(210, 36%, 96%);
  border-color: transparent;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  margin-right: 10em;
}
.login-form-control {
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
}

.log-btn {
  text-decoration: none;
  color: #222;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-top: 3em;
  align-items: center;
  text-transform: capitalize;
}

.log-btn:hover {
  letter-spacing: 3px;
  color: bisque;
}

/* dashboard scrollbars*/
::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a5aaad;
}

::-webkit-scrollbar-thumb {
  background: #3ea175;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a5aaad;
}

.text-primary-p {
  color: #a5aaad;
  font-size: 14px;
  font-weight: 700;
}

.font-bold {
  font-weight: 700;
}

.text-title {
  color: #2e4a66;
}

.text-lightblue {
  color: #469cac;
}

.text-red {
  color: #cc3d38;
}

.text-yellow {
  color: #a98921;
}

.text-green {
  color: #3b9668;
}

.dash-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.8fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar nav nav nav"
    "sidebar main main main";
}

/* media query */
@media only screen and (max-width: 992px) {
  .home-container {
    height: 25em;
    margin-right: 20em;
    padding-top: 3em;
    margin-right: 5em auto;
  }

  .signin-btn:hover {
    letter-spacing: 3px;
  }

  .signup-form {
    margin: 20rem auto;
  }

  .signup-title {
    font-weight: 400;
    font-size: 1.2em;
  }

  .formm .avatar {
    top: 200px;
  }

  .formm-input::placeholder {
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
  }
  .login-title {
    margin-top: 9em;
  }

  .login-form {
    margin: 3em auto;
    margin-left: 15em;
  }

  .login-form-input::placeholder {
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
  }
}

@media only screen and (max-width: 978px) {
  .dash-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "nav"
      "main";
  }
}

@media only screen and (max-width: 480px) {
  .home-container {
    margin: 10rem auto;
    height: 100%;
  }
  .home {
    margin-bottom: 10em;
  }

  .home-title {
    margin-bottom: 4em;
    margin-right: 20px;
  }

  .signin-btn {
    padding: 10px 70px;
  }
  .formm-input {
    max-width: 450px;
    padding: 0.8rem 4rem;
  }
  .login-title {
    margin-top: 15em;
  }

  .login-form {
    margin: 5em auto;
  }
}
